# AWS info
AWS_ACCESS_KEY_ID=<Your AWS Access Key>
AWS_SECRET_ACCESS_KEY=<Your AWS Secret Key>
AWS_DEFAULT_REGION=<Your AWS Default Region>
S3_BNAME=<Your S3 Bucket Name>
#  bucket prefix ex:  '/nifi/inbox/'
S3_BNAME_PREFIX=<Your prefix directories to s3 files>

# Cloudera CDP Credentials
CDP_ENV_USER=<Your CDP Env Username>
CDP_ENV_PWD=<Your CDP Env Pwd>

# CDP Environment that has Kafka
KAFKA_ENV_NAME=tonydavis-tola-kafka

# Hive JDBC URL
HIVE2_JDBC_URL=<Your Hive DW JDBC URL>
